@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
:root {
  --accent-color: #204ee6;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
.page,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-area {
  height: 90%;
  width: 90%;
  display: flex;
  border: 1px solid black;
}

.tabs-wrapper {
  height: 100%;
  flex: 0.7;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.main-action {
  height: 100%;
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-fetch {
  height: 10%;
  width: 100%;
  background-color: var(--accent-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.tabs {
  overflow-y: auto;
  height: 90%;
  text-align: center;
  border-right: 1px solid gray;
}
.tab {
  height: 10%;
  background-color: var(--accent-color);
  margin: 10px auto;
  width: 90%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 1.2rem;
}

.main-action .empty h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.tab > form {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.tab input {
  height: 50%;
  width: 80%;
  font-size: 15px;
}
.tab.active {
  border: 3px solid black;
}
.searchbar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid gray;
}
.searchbar form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.searchbar input {
  width: 75%;
  height: 60%;
  border-radius: 5px;
  margin-left: 5px;
  border: 0;
  outline: 1.5px solid gray;

  caret-color: var(--accent-color);
  font-size: 15px;
}
.searchbar button {
  height: 60%;
  width: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  background-color: var(--accent-color);
  border: 0;
  outline: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.searchbar button svg {
  font-size: 20px;
}

.request {
  width: 100%;
  padding: 0 10px;
  height: 45%;
}
.response {
  height: 45%;
  width: 100%;
  padding: 0 10px;
  margin-top: 30px;
}
.section__title {
  font-family: "Roboto", sans-serif;

  font-size: 25px;
}

select {
  width: 8%;
  height: 60%;
  outline: 0;
  border-radius: 7px;
  font-size: 15px;
}
option {
  height: 30px;
}
.tabs-selector-wrapper {
  width: 100%;
  display: flex;
  height: 20%;
}
.tabs-selector-wrapper .tab-selector {
  margin: 0px 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.tabs-selector-wrapper .tab-selector.active {
  border-bottom: 5px solid var(--accent-color);
}
.request .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.request .content .info {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section-title,
.section-content {
  color: gray;
  padding: 0 6px;
  font-size: 20px;
  margin: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
.add-header {
  height: 40px;
  width: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  background-color: var(--accent-color);
  border: 0;
  outline: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin: 15px;
}
.main-action {
  padding-left: 10px;
}
.response .content {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.response .header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.response .header span {
  margin-right: 10px;
}
